.search-bar {
  --color-searchbar: var(--color-accent);
  --color-searchbar-inactive: #d3d3d3;

  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.search-bar-form {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-searchbar-inactive);
}

.search-bar-form:focus-within {
  border: 2px solid var(--color-searchbar);
}

.search-bar-form label,
.search-bar-form input {
  display: block;
}

.search-bar-form__input-row {
  display: flex;
  flex-direction: row;
}

.search-bar-form__label {
  height: 0;
  visibility: hidden;
}

.search-bar-form__input {
  flex: 1;
  box-sizing: border-box;
  padding: 0 0.6rem;
  min-width: 64px;
  border: none;
  outline: none;
}

.search-bar-form__submit {
  margin: 2px 2px 2px 8px;
  width: 56px;
  height: 32px;
  border: none;
  outline: none;
  background-color: var(--color-searchbar);
}
