html,
body {
  margin: 0;
  padding: 0;
}

.app {
  --color-background: #fff;
  --color-text: #4b423c;
  --color-accent: #ff862c;

  color: var(--color-text);
  font-family: Open Sans, sans-serif;
  background-color: var(--color-background);
}
